<a href="https://colab.research.google.com/github/TheJoys2019/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Artin%20Sinani%20-%20DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [3]:
cell_phones.columns

Index(['geo', 'time', 'cell_phones_total'], dtype='object')

In [4]:
cell_phones.shape

(9215, 3)

In [5]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [0]:
cp1 = pd.DataFrame(cell_phones, columns=['geo', 'time'])

In [0]:
pop1 = pd.DataFrame(population, columns=['geo','time'])

In [8]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [9]:
population.columns

Index(['geo', 'time', 'population_total'], dtype='object')

In [0]:
cp = pd.merge(cell_phones, population)

In [11]:
cp.shape

(8590, 4)

In [12]:
cp.head()

   geo  time  cell_phones_total  population_total
0  afg  1960                0.0           8996351
1  afg  1965                0.0           9938414
2  afg  1970                0.0          11126123
3  afg  1975                0.0          12590286
4  afg  1976                0.0          12840299

In [0]:
cell_pop = pd.merge(cell_phones[['geo','time']], population[['geo','time']])

In [14]:
cell_pop.shape

(8590, 2)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [15]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [0]:
df1 = pd.DataFrame(geo_country_codes, columns=['geo', 'country'])

In [17]:
df1.head()

    geo      country
0  abkh     Abkhazia
1   abw        Aruba
2   afg  Afghanistan
3   ago       Angola
4   aia     Anguilla

In [0]:
df1_cp = pd.merge(df1,cp)

In [19]:
df1_cp.shape

(8590, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
df1_cp['avg_cell_pop'] = df1_cp['cell_phones_total'] / df1_cp['population_total']

In [21]:
df1_cp['avg_cell_pop'].tail()

8585    0.905587
8586    0.765566
8587    0.808585
8588    0.797439
8589    0.852522
Name: avg_cell_pop, dtype: float64

In [22]:
df1_cp.loc[df1_cp['country']== 'United States']

,geo,country,time,cell_phones_total,population_total,avg_cell_pop
8092,usa,United States,1960,0.0,186808228,0.000000
8093,usa,United States,1965,0.0,199815540,0.000000
8094,usa,United States,1970,0.0,209588150,0.000000
8095,usa,United States,1975,0.0,219205296,0.000000
8096,usa,United States,1976,0.0,221239215,0.000000
8097,usa,United States,1977,0.0,223324042,0.000000
8098,usa,United States,1978,0.0,225449657,0.000000
8099,usa,United States,1979,0.0,227599878,0.000000
8100,usa,United States,1980,0.0,229763052,0.000000
8101,usa,United States,1984,91600.0,238573861,0.000384
8102,usa,United States,1985,340213.0,240824120,0.001413
8103,usa,United States,1986,681825.0,243098935,0.002805
8104,usa,United States,1987,1230855.0,245402864,0.005016
8105,usa,United States,1988,2069441.0,247739582,0.008353
8106,usa,United States,1989,3508944.0,250113187,0.014029
8107,usa,United States,1990,5283055.0,252529950,0.020921
8108,usa,United States,1991,7557148.0,254974819,0.029639
8109,usa,United States,1992,11032753.0,257454273,0.042853
8110,usa,United States,1993,16009461.0,260020186,0.061570
8111,usa,United States,1994,24134421.0,262741566,0.091856
8112,usa,United States,1995,33785661.0,265658849,0.127177
8113,usa,United States,1996,44042992.0,268803424,0.163848
8114,usa,United States,1997,55312293.0,272136551,0.203252
8115,usa,United States,1998,69209321.0,275542603,0.251175
8116,usa,United States,1999,86047003.0,278862277,0.308565
8117,usa,United States,2000,109478031.0,281982778,0.388244
8118,usa,United States,2001,128500000.0,284852391,0.451111
8119,usa,United States,2002,141800000.0,287506847,0.493206
8120,usa,United States,2003,160637000.0,290027624,0.553868
8121,usa,United States,2004,184819000.0,292539324,0.631775
8122,usa,United States,2005,203700000.0,295129501,0.690205
8123,usa,United States,2006,229600000.0,297827356,0.770916
8124,usa,United States,2007,249300000.0,300595175,0.829355
8125,usa,United States,2008,261300000.0,303374067,0.861313
8126,usa,United States,2009,274283000.0,306076362,0.896126
8127,usa,United States,2010,285118000.0,308641391,0.923784
8128,usa,United States,2011,297404000.0,311051373,0.956125
8129,usa,United States,2012,304838000.0,313335423,0.972881
8130,usa,United States,2013,310698000.0,315536676,0.984665
8131,usa,United States,2014,355500000.0,317718779,1.118914
8132,usa,United States,2015,382307000.0,319929162,1.194974
8133,usa,United States,2016,395881000.0,322179605,1.228759
8134,usa,United States,2017,395881000.0,324459463,1.220125

In [0]:
df2_cp = df1_cp.merge(df1_cp['avg_cell_pop'].to_frame())

In [24]:
df2_cp

,geo,country,time,cell_phones_total,population_total,avg_cell_pop
0,afg,Afghanistan,1960,0.0,8996351,0.000000
1,afg,Afghanistan,1960,0.0,8996351,0.000000
2,afg,Afghanistan,1960,0.0,8996351,0.000000
3,afg,Afghanistan,1960,0.0,8996351,0.000000
4,afg,Afghanistan,1960,0.0,8996351,0.000000
5,afg,Afghanistan,1960,0.0,8996351,0.000000
6,afg,Afghanistan,1960,0.0,8996351,0.000000
7,afg,Afghanistan,1960,0.0,8996351,0.000000
8,afg,Afghanistan,1960,0.0,8996351,0.000000
9,afg,Afghanistan,1960,0.0,8996351,0.000000
10,afg,Afghanistan,1960,0.0,8996351,0.000000
11,afg,Afghanistan,1960,0.0,8996351,0.000000
12,afg,Afghanistan,1960,0.0,8996351,0.000000
13,afg,Afghanistan,1960,0.0,8996351,0.000000
14,afg,Afghanistan,1960,0.0,8996351,0.000000
15,afg,Afghanistan,1960,0.0,8996351,0.000000
16,afg,Afghanistan,1960,0.0,8996351,0.000000
17,afg,Afghanistan,1960,0.0,8996351,0.000000
18,afg,Afghanistan,1960,0.0,8996351,0.000000
19,afg,Afghanistan,1960,0.0,8996351,0.000000
20,afg,Afghanistan,1960,0.0,8996351,0.000000
21,afg,Afghanistan,1960,0.0,8996351,0.000000
22,afg,Afghanistan,1960,0.0,8996351,0.000000
23,afg,Afghanistan,1960,0.0,8996351,0.000000
24,afg,Afghanistan,1960,0.0,8996351,0.000000
25,afg,Afghanistan,1960,0.0,8996351,0.000000
26,afg,Afghanistan,1960,0.0,8996351,0.000000
27,afg,Afghanistan,1960,0.0,8996351,0.000000
28,afg,Afghanistan,1960,0.0,8996351,0.000000
29,afg,Afghanistan,1960,0.0,8996351,0.000000
...,...,...,...,...,...,...
14104830,zmb,Zambia,2009,4406682.0,13456417,0.327478
14104831,zmb,Zambia,2010,5446991.0,13850033,0.393284
14104832,zmb,Zambia,2011,8164553.0,14264756,0.572358
14104833,zmb,Zambia,2012,10524676.0,14699937,0.715967
14104834,zmb,Zambia,2013,10395801.0,15153210,0.686046
14104835,zmb,Zambia,2014,10114867.0,15620974,0.647518
14104836,zmb,Zambia,2015,11557725.0,16100587,0.717845
14104837,zmb,Zambia,2016,12017034.0,16591390,0.724293
14104838,zmb,Zambia,2017,13438539.0,17094130,0.786149
14104839,zwe,Zimbabwe,1997,5734.0,11709997,0.000490
14104840,zwe,Zimbabwe,1998,19000.0,11893272,0.001598
14104841,zwe,Zimbabwe,1999,174000.0,12064537,0.014422
14104842,zwe,Zimbabwe,2000,266441.0,12222251,0.021800
14104843,zwe,Zimbabwe,2001,314002.0,12366165,0.025392
14104844,zwe,Zimbabwe,2002,338779.0,12500525,0.027101
14104845,zwe,Zimbabwe,2003,363651.0,12633897,0.028784
14104846,zwe,Zimbabwe,2004,425745.0,12777511,0.033320
14104847,zwe,Zimbabwe,2005,647110.0,12940032,0.050008
14104848,zwe,Zimbabwe,2006,849146.0,13124267,0.064700
14104849,zwe,Zimbabwe,2007,1225654.0,13329909,0.091948
14104850,zwe,Zimbabwe,2008,1654721.0,13558469,0.122043
14104851,zwe,Zimbabwe,2009,3991000.0,13810599,0.288981
14104852,zwe,Zimbabwe,2010,7700000.0,14086317,0.546630
14104853,zwe,Zimbabwe,2011,9200000.0,14386649,0.639482
14104854,zwe,Zimbabwe,2012,12613935.0,14710826,0.857459
14104855,zwe,Zimbabwe,2013,13633167.0,15054506,0.905587
14104856,zwe,Zimbabwe,2014,11798652.0,15411675,0.765566
14104857,zwe,Zimbabwe,2015,12757410.0,15777451,0.808585
14104858,zwe,Zimbabwe,2016,12878926.0,16150362,0.797439
14104859,zwe,Zimbabwe,2017,14092104.0,16529904,0.852522

In [0]:
Avg_Cell_pop = 395881000/324459463

In [26]:
Avg_Cell_pop

1.2201246847283354

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [0]:
df2_cp['geo'] =df2_cp['geo'].str.upper()

In [28]:
df2_cp.head()

   geo      country  time  cell_phones_total  population_total  avg_cell_pop
0  AFG  Afghanistan  1960                0.0           8996351           0.0
1  AFG  Afghanistan  1960                0.0           8996351           0.0
2  AFG  Afghanistan  1960                0.0           8996351           0.0
3  AFG  Afghanistan  1960                0.0           8996351           0.0
4  AFG  Afghanistan  1960                0.0           8996351           0.0

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [29]:
df2_cp.describe()

               time  cell_phones_total  population_total  avg_cell_pop
count  1.410486e+07       1.410486e+07      1.410486e+07  1.410486e+07
mean   1.981199e+03       5.484104e+03      2.076571e+07  1.703027e-04
std    8.957180e+00       1.393160e+06      8.609352e+07  1.316217e-02
min    1.960000e+03       0.000000e+00      4.433000e+03  0.000000e+00
25%    1.977000e+03       0.000000e+00      9.660310e+05  0.000000e+00
50%    1.982000e+03       0.000000e+00      4.371521e+06  0.000000e+00
75%    1.987000e+03       0.000000e+00      1.213307e+07  0.000000e+00
max    2.017000e+03       1.474097e+09      1.409517e+09  2.490243e+00

In [38]:
df2_cp.sort_values('time')

,geo,country,time,cell_phones_total,population_total,avg_cell_pop
0,AFG,Afghanistan,1960,0.0,8996351,0.0
12669375,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669374,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669373,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669372,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669371,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669370,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
2816250,COM,Comoros,1960,0.0,191121,0.0
2816251,COM,Comoros,1960,0.0,191121,0.0
2816252,COM,Comoros,1960,0.0,191121,0.0
2816253,COM,Comoros,1960,0.0,191121,0.0
2816254,COM,Comoros,1960,0.0,191121,0.0
12669376,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
2816255,COM,Comoros,1960,0.0,191121,0.0
2816257,COM,Comoros,1960,0.0,191121,0.0
2816258,COM,Comoros,1960,0.0,191121,0.0
2816259,COM,Comoros,1960,0.0,191121,0.0
2816260,COM,Comoros,1960,0.0,191121,0.0
2816261,COM,Comoros,1960,0.0,191121,0.0
2816262,COM,Comoros,1960,0.0,191121,0.0
2816263,COM,Comoros,1960,0.0,191121,0.0
2816264,COM,Comoros,1960,0.0,191121,0.0
2816265,COM,Comoros,1960,0.0,191121,0.0
2816266,COM,Comoros,1960,0.0,191121,0.0
2816267,COM,Comoros,1960,0.0,191121,0.0
2816256,COM,Comoros,1960,0.0,191121,0.0
12669377,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669378,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
12669379,TTO,Trinidad and Tobago,1960,0.0,848479,0.0
10731775,RUS,Russia,1960,0.0,119860288,0.0
...,...,...,...,...,...,...
14101197,DJI,Djibouti,2017,"373,052.0",956985,0.3898201121229695
14104169,SWE,Sweden,2017,"12,435,709.0",9910701,1.2547759235194362
14100462,BGR,Bulgaria,2017,"8,532,908.0",7084571,1.2044353850077867
14102854,MDA,Moldova,2017,"3,662,968.0",4051212,0.9041659631734899
14101838,GTM,Guatemala,2017,"19,986,482.0",16913503,1.1816879093585757
14102620,LCA,St. Lucia,2017,"176,694.0",178844,0.9879783498467939
14100619,BOL,Bolivia,2017,"10,963,224.0",11051600,0.992003329834594
14102640,LIE,Liechtenstein,2017,"46,625.0",37922,1.2294973893781973
14104663,VCT,St. Vincent and the Grenadines,2017,"116,161.0",109897,1.056998826173599
14102668,LKA,Sri Lanka,2017,"28,199,083.0",20876917,1.3507302347372458
14104268,TGO,Togo,2017,"6,219,981.0",7797694,0.7976692853040912
14102690,LSO,Lesotho,2017,"2,380,804.0",2233339,1.0660289369415032
14101142,CZE,Czech Republic,2017,"12,634,937.0",10618303,1.1899205551018839
14101810,GRD,Grenada,2017,"113,177.0",107825,1.049635984233712
14100568,BLR,Belarus,2017,"11,415,141.0",9468338,1.2056119035885706
14100647,BRA,Brazil,2017,"236,488,548.0",209288278,1.1299655683535224
14102716,LTU,Lithuania,2017,"4,361,329.0",2890297,1.508955308053117
14104230,SYR,Syria,2017,"15,650,000.0",18269868,0.8566017006800487
14101175,DEU,Germany,2017,"106,000,000.0",82114224,1.2908847558493641
14101782,GRC,Greece,2017,"12,937,106.0",11159773,1.1592624688692144
14102749,LUX,Luxembourg,2017,"794,000.0",583455,1.3608590208327977
14102775,LVA,Latvia,2017,"2,464,122.0",1949670,1.2638661927403099
14100521,BHS,Bahamas,2017,"353,540.0",395361,0.8942207248565235
14104211,SYC,Seychelles,2017,"167,282.0",94737,1.7657515015252752
14102806,MAR,Morocco,2017,"43,916,066.0",35739580,1.2287795771522776
14104693,VEN,Venezuela,2017,"24,493,687.0",31977065,0.7659767086191306
14100494,BHR,Bahrain,2017,"2,364,477.0",1492584,1.584150037786818
14102831,MCO,Monaco,2017,"32,978.0",38695,0.8522548132833699
14100543,BIH,Bosnia and Herzegovina,2017,"3,440,085.0",3507017,0.9809148344590288
14104859,ZWE,Zimbabwe,2017,"14,092,104.0",16529904,0.8525218295278666

In [56]:
df2_cp.sort_values('cell_phones_total', ascending=True)

,geo,country,time,cell_phones_total,population_total,avg_cell_pop
0,AFG,Afghanistan,1960,0.0,8996351,0.0
9400011,NGA,Nigeria,1989,0.0,92844353,0.0
9400012,NGA,Nigeria,1989,0.0,92844353,0.0
9400013,NGA,Nigeria,1989,0.0,92844353,0.0
9400014,NGA,Nigeria,1989,0.0,92844353,0.0
9400015,NGA,Nigeria,1989,0.0,92844353,0.0
9400016,NGA,Nigeria,1989,0.0,92844353,0.0
9400017,NGA,Nigeria,1989,0.0,92844353,0.0
9400018,NGA,Nigeria,1989,0.0,92844353,0.0
9400019,NGA,Nigeria,1989,0.0,92844353,0.0
9400020,NGA,Nigeria,1989,0.0,92844353,0.0
9400010,NGA,Nigeria,1989,0.0,92844353,0.0
9400021,NGA,Nigeria,1989,0.0,92844353,0.0
9400023,NGA,Nigeria,1989,0.0,92844353,0.0
9400024,NGA,Nigeria,1989,0.0,92844353,0.0
9400025,NGA,Nigeria,1989,0.0,92844353,0.0
9400026,NGA,Nigeria,1989,0.0,92844353,0.0
9400027,NGA,Nigeria,1989,0.0,92844353,0.0
9400028,NGA,Nigeria,1989,0.0,92844353,0.0
9400029,NGA,Nigeria,1989,0.0,92844353,0.0
9400030,NGA,Nigeria,1989,0.0,92844353,0.0
9400031,NGA,Nigeria,1989,0.0,92844353,0.0
9400032,NGA,Nigeria,1989,0.0,92844353,0.0
9400022,NGA,Nigeria,1989,0.0,92844353,0.0
9400009,NGA,Nigeria,1989,0.0,92844353,0.0
9400008,NGA,Nigeria,1989,0.0,92844353,0.0
9400007,NGA,Nigeria,1989,0.0,92844353,0.0
9399984,NGA,Nigeria,1989,0.0,92844353,0.0
9399985,NGA,Nigeria,1989,0.0,92844353,0.0
9399986,NGA,Nigeria,1989,0.0,92844353,0.0
...,...,...,...,...,...,...
14102028,IDN,Indonesia,2015,"338,948,340.0",258162113,1.3129282839422685
14102044,IND,India,2008,"346,890,000.0",1197146906,0.2897639364571018
14104609,USA,United States,2014,"355,500,000.0",317718779,1.118914031833164
14104610,USA,United States,2015,"382,307,000.0",319929162,1.1949739048796058
14102029,IDN,Indonesia,2016,"385,573,398.0",261115456,1.4766395061654258
14100871,CHN,China,2005,"393,406,000.0",1321623490,0.2976687407394673
14104612,USA,United States,2017,"395,881,000.0",324459463,1.2201246847283354
14104611,USA,United States,2016,"395,881,000.0",322179605,1.228758722948959
14102030,IDN,Indonesia,2017,"458,923,202.0",263991379,1.738402230172827
14100872,CHN,China,2006,"461,058,000.0",1329209094,0.3468664200998914
14102045,IND,India,2009,"525,090,000.0",1214270132,0.43243260800225297
14100873,CHN,China,2007,"547,306,000.0",1336800506,0.409414865975522
14100874,CHN,China,2008,"641,245,000.0",1344415227,0.4769694564014336
14100875,CHN,China,2009,"747,214,000.0",1352068091,0.5526452439590929
14102046,IND,India,2010,"752,190,000.0",1230980691,0.6110493897259677
14100876,CHN,China,2010,"859,003,000.0",1359755102,0.6317336105130495
14102048,IND,India,2012,"864,720,917.0",1263065852,0.6846206123225949
14102049,IND,India,2013,"886,304,245.0",1278562207,0.6932038505029893
14102047,IND,India,2011,"893,862,478.0",1247236029,0.7166746768185286
14102050,IND,India,2014,"944,008,677.0",1293859294,0.7296069065451255
14100877,CHN,China,2011,"986,253,000.0",1367480264,0.7212191838989495
14102051,IND,India,2015,"1,001,056,000.0",1309053980,0.7647171280133154
14100878,CHN,China,2012,"1,112,155,000.0",1375198619,0.8087231797896388
14102052,IND,India,2016,"1,127,809,000.0",1324171354,0.8517092569576913
14102053,IND,India,2017,"1,168,902,277.0",1339180127,0.8728491809526382
14100879,CHN,China,2013,"1,229,113,000.0",1382793212,0.8888624772913624
14100880,CHN,China,2014,"1,286,093,000.0",1390110388,0.9251732891877361
14100881,CHN,China,2015,"1,291,984,200.0",1397028553,0.9248087286588194
14100882,CHN,China,2016,"1,364,934,000.0",1403500365,0.9725213003418065
14100883,CHN,China,2017,"1,474,097,000.0",1409517397,1.0458168186766978

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|   China    |     1,474,097,000 |
|    Inda    |     1,168,902,277 |
|   Indonesia    |       458,923,202 |
|    United States   |       395,881,000 |
|   Brazil    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

2012

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [71]:
df2_cp2 = df2_cp.pivot_table(index='country', columns='time',values='cell_phones_total')

print ('Pivot Table Shape:')
       
df2_cp2.shape

df2_cp2.head()

Pivot Table Shape:

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"7,898,909.0","10,500,000.0","10,215,840.0","13,797,879.0","15,340,115.0","16,807,156.0","18,407,168.0","19,709,038.0","21,602,982.0","23,929,713.0"
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,859,632.0","2,463,741.0","2,692,372.0","3,100,000.0","3,500,000.0","3,685,983.0","3,359,654.0","3,400,955.0","3,369,756.0","3,497,950.0"
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"27,031,472.0","32,729,824.0","32,780,165.0","35,615,926.0","37,527,703.0","39,517,045.0","43,298,174.0","43,227,643.0","47,041,321.0","49,873,389.0"
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"64,202.0","64,549.0","65,495.0","65,044.0","63,865.0","63,931.0","66,241.0","71,336.0","76,132.0","80,337.0"
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,773,356.0","8,109,421.0","9,403,365.0","12,073,218.0","12,785,109.0","13,285,198.0","14,052,558.0","13,884,532.0","13,001,124.0","13,323,952.0"

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?