<a href="https://colab.research.google.com/github/connorpheraty/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Connor_Heraty_LS_DS3_124_Make_features_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [98]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 20:04:54--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [               <=>  ]  21.29M   889KB/s    in 25s

2019-03-28 20:05:19 (878 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22329081]

In [99]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:
error:  invalid response [{ENTER}]
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [100]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [101]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
loan_df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [0]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [302]:
loan_df.shape

(128412, 145)

In [303]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94%,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14%,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [304]:
loan_df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

In [0]:
loan_df['int_rate'] = loan_df['int_rate'].str.strip('%').astype(float)

In [306]:
(loan_df['int_rate'] / 100).head()

0    0.1356
1    0.1894
2    0.1797
3    0.1894
4    0.1614
Name: int_rate, dtype: float64

Define a function to remove percent signs from strings and convert to floats

In [0]:
def remove_percent(string):
  return float(string.strip('%'))

Apply the function to the `int_rate` column

In [308]:
df['int_rate'].apply(remove_percent)

NameError: ignored

### Clean `emp_title`

Look at top 20 titles

In [0]:
loan_df['emp_title'].value_counts().head(20)

How often is `emp_title` null?

In [0]:
loan_df['emp_title'].isnull().sum()

**Clean the title and handle missing values**
- Capitalize
- Strip spaces
- Replace `Nan` with `Unknown`

In [0]:
import numpy as np

examples = ['owner', 'Supervisor ', ' Project Manager', np.nan]

In [0]:
def clean_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Unknown'

[clean_title(x) for x in examples]

In [0]:
loan_df['emp_title'].apply(clean_title).head(20)

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
loan_df['emp_title_manager'] = loan_df['emp_title'].str.contains('Manager')

In [0]:
loan_df['emp_title_manager'].value_counts(normalize=True)

In [0]:
loan_df.groupby('emp_title_manager')['int_rate'].mean()

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
loan_df['issue_d'].head().values

In [0]:
loan_df['issue_d'].describe()

In [0]:
loan_df['issue_d'] = pd.to_datetime(loan_df['issue_d'], infer_datetime_format=True)

In [0]:
loan_df['issue_d'].head().values

In [0]:
loan_df['issue_d'].describe()

In [0]:
loan_df['issue_year'] = loan_df['issue_d'].dt.year
loan_df['issue_month'] = loan_df['issue_d'].dt.month

In [0]:
loan_df['earliest_cr_line'] = pd.to_datetime(loan_df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
loan_df['earliest_cr_line'].head()

In [0]:
loan_df['issue_d'] - loan_df['earliest_cr_line']

In [0]:
loan_df['days_from_earliest_credit_to_issue'] = (
    loan_df['issue_d'] - loan_df['earliest_cr_line']).dt.days

In [0]:
loan_df['days_from_earliest_credit_to_issue'].describe()

In [0]:
24171 / 365

In [0]:
[col for col in loan_df if col.endswith('_d')]

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    loan_df[col] = pd.to_datetime(loan_df[col], infer_datetime_format=True)

In [0]:
loan_df.describe(include='datetime')

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

### 1. Lesson code is replicated in the **code cells above**

### 2. Convert the `term` column from string to integer

In [0]:
loan_df['term'].value_counts(dropna=False)

In [0]:
# We will use the .str.strip() method to remove all strings containing 'months'
loan_df['term'] = loan_df['term'].str.strip('months').astype(int)

In [0]:
# Pandas has automatically changed the dtype to int64
loan_df['term'].head()

### 3. Make a column named** loan_status_is_great**. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
loan_df['loan_status'].value_counts(dropna=False)

In [0]:
def loanStatus(str):
  if str == 'Current':
    return 1
  elif str == 'Fully Paid':
    return 1
  else:
    return 0

In [0]:
loan_df['loan_status_is_great'] = loan_df['loan_status'].apply(loanStatus)

In [0]:
loan_df['loan_status_is_great'].value_counts()

### 4. Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
loan_df['last_pymnt_d'].head()

In [0]:
loan_df['last_pymnt_d_month'] = loan_df['last_pymnt_d'].dt.month
loan_df['last_pymnt_d_year'] = loan_df['last_pymnt_d'].dt.year

In [0]:
# Note the value is converted to a float value because there are NaN values in the column
# We cannot convert values to int. Only to float, because type of NaN is float.
loan_df['last_pymnt_d_month'].head()

In [0]:
loan_df['last_pymnt_d_year'].head()

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

## Stretch Goal

First we will remove the last column that contains percent signs and convert the values into float.

In [0]:
loan_df['revol_util'] = loan_df['revol_util'].str.strip('%')

In [0]:
loan_df['revol_util'].head().astype(float)

Next we will change all professions in the `emp_title` column that are not  in the top 20.

In [0]:
loan_df['emp_title'].value_counts()[:20]

In [0]:
loan_df['emp_title'] = loan_df['emp_title'].str.upper()

In [0]:
loan_df['emp_title'].value_counts()[:20]

In [0]:
top20_lst = loan_df['emp_title'].value_counts()[:20]

def top20 (title):
  if title == title in top20_lst:
    return title
  else:
    return 'OTHER'

In [0]:
loan_df['emp_title'] = loan_df['emp_title'].apply(top20)

In [391]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,OTHER,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,OTHER,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,OTHER,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,OTHER,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,OTHER,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Stretch Goal - Playground

First I will create a subset of features that will reveal relevant insights about our data.

In [0]:
sub_df = loan_df[['loan_amnt', 'int_rate','grade','sub_grade','emp_title','home_ownership','emp_length','annual_inc','loan_status','addr_state','avg_cur_bal','pub_rec_bankruptcies']]

In [321]:
sub_df.head()

,loan_amnt,int_rate,grade,sub_grade,emp_title,home_ownership,emp_length,annual_inc,loan_status,addr_state,avg_cur_bal,pub_rec_bankruptcies
0,2500,13.56,C,C1,OTHER,RENT,10+ years,55000.0,Current,NY,1878.0,1
1,30000,18.94,D,D2,OTHER,MORTGAGE,10+ years,90000.0,Current,LA,24763.0,1
2,5000,17.97,D,D1,OTHER,MORTGAGE,6 years,59280.0,Current,MI,18383.0,0
3,4000,18.94,D,D2,OTHER,MORTGAGE,10+ years,92000.0,Current,WA,30505.0,0
4,30000,16.14,C,C4,OTHER,MORTGAGE,10+ years,57250.0,Current,MD,9667.0,0

In [0]:
sub_df.isnull().sum()

In [0]:
sub_df = sub_df.dropna()

In [0]:
loan_amnt = (sub_df
            .groupby(['emp_title'])
            .loan_amnt.agg(['mean'])
            .rename(columns={'mean':'Average Loan Amount'})
            .reset_index())

In [0]:
annual_income = (sub_df
            .groupby(['emp_title'])
            .annual_inc.agg(['mean'])
            .rename(columns={'mean':'Average Annual Income','emp_title':'Title'})
            .reset_index())

In [396]:
loan_to_income = pd.merge(loan_amnt, annual_income, on='emp_title')
loan_to_income.head()

         emp_title  Average Loan Amount  Average Annual Income
0         DIRECTOR         24507.500000          143100.000000
1           DRIVER         18754.166667           70611.111111
2         ENGINEER         18500.000000          104716.324444
3  GENERAL MANAGER         18173.750000           88379.000000
4          MANAGER         19317.410714           83361.339286

The goal of this chart is to plot the average loan amount and average annual income for each employee group.
- Operation managers appear to have a significantly higher average loan to income ratio.

In [393]:
import altair as alt

alt.Chart(loan_to_income,height=400,width=700).mark_circle(size=100).encode(
    x='Average Annual Income',
    y='Average Loan Amount',
    tooltip='emp_title',
    color='emp_title',
    
    
).interactive()

Chart({
  data:              emp_title  Average Loan Amount  Average Annual Income
  0             DIRECTOR         24507.500000          143100.000000
  1               DRIVER         18754.166667           70611.111111
  2             ENGINEER         18500.000000          104716.324444
  3      GENERAL MANAGER         18173.750000           88379.000000
  4              MANAGER         19317.410714           83361.339286
  5             MECHANIC         13816.666667           64666.666667
  6                NURSE         23708.333333           96833.250000
  7       OFFICE MANAGER         13731.250000           69447.343750
  8   OPERATIONS MANAGER         26365.625000           72500.000000
  9                OTHER         16281.951655           85775.717260
  10               OWNER         13209.523810           86566.380952
  11      POLICE OFFICER         18170.833333           88500.000000
  12     PROJECT MANAGER         15475.000000           79812.500000
  13    REGISTERED NURSE         20193.000000          106296.000000
  14                  RN         17637.155647           89643.790634
  15               SALES         16227.777778           79399.629630
  16       SALES MANAGER         15365.476190           96590.476190
  17       STORE MANAGER         16183.333333           68629.166667
  18          SUPERVISOR         19457.291667           77098.333333
  19             TEACHER         17223.484848           77442.212121
  20        TRUCK DRIVER         13344.000000           69907.240000,
  encoding: EncodingWithFacet({
    color: Color({
      shorthand: 'emp_title'
    }),
    tooltip: Tooltip({
      shorthand: 'emp_title'
    }),
    x: X({
      shorthand: 'Average Annual Income'
    }),
    y: Y({
      shorthand: 'Average Loan Amount'
    })
  }),
  height: 400,
  mark: MarkDef({
    size: 100,
    type: 'circle'
  }),
  selection: SelectionMapping({
    selector003: SelectionDef({
      bind: 'scales',
      encodings: ['x', 'y'],
      type: 'interval'
    })
  }),
  width: 700
})

In [0]:
invest_grade = (sub_df
            .groupby(['grade','sub_grade'])
            .loan_amnt.agg(['mean','count','sum'])
            .rename(columns={'mean':'Average Loan by Grade', 'count':'Total Loans by Grade', 'sum':'Total Amount of Loans by Grade'})
            .reset_index())

In [365]:
invest_grade.head()

,grade,sub_grade,Average Loan by Grade,Total Loans by Grade,Total Amount of Loans by Grade
0,A,A1,17635.126108,8009,141239725
1,A,A2,15649.276328,5251,82174350
2,A,A3,14962.545094,5544,82952350
3,A,A4,17021.518214,9004,153261750
4,A,A5,14958.077248,7094,106112600

The plot is designed to show the distribution of loans originated based on the investment grade of the borrower. 
- The colors represent the distribution of loan origination per borrower subgrade (1-5) within the primary grade (A-G).
- There is a significant drop off in loan origination after the 'C' borrower grade.

In [366]:
alt.Chart(invest_grade,height=400,width=700).mark_bar().encode(
    x='grade',
    y='Total Amount of Loans by Grade',
    color='sub_grade'
)

Chart({
  data:    grade sub_grade  Average Loan by Grade  Total Loans by Grade  \
  0      A        A1           17635.126108                  8009
  1      A        A2           15649.276328                  5251
  2      A        A3           14962.545094                  5544
  3      A        A4           17021.518214                  9004
  4      A        A5           14958.077248                  7094
  5      B        B1           17229.781185                  5804
  6      B        B2           16826.542351                  6824
  7      B        B3           14942.213902                  5208
  8      B        B4           17620.019272                  8302
  9      B        B5           17081.000923                  6499
  10     C        C1           16562.460355                  6306
  11     C        C2           16653.422295                  5508
  12     C        C3           16351.375696                  6106
  13     C        C4           16123.759146                  5057
  14     C        C5           15939.386087                  5017
  15     D        D1           15762.943079                  3865
  16     D        D2           15703.559511                  3596
  17     D        D3           15622.745039                  3326
  18     D        D4           15946.195255                  2740
  19     D        D5           17282.671382                  1838
  20     E        E1           11817.893784                  1657
  21     E        E2           12372.031824                   817
  22     E        E3           15478.013393                   896
  23     E        E4           15520.406250                   800
  24     E        E5           17137.437396                  1198
  25     F        F1           17745.645161                   155
  26     F        F2           17858.734940                    83
  27     F        F3           16588.586957                    46
  28     F        F4           11876.470588                    34
  29     F        F5           15341.666667                    30
  30     G        G1           15650.000000                    37
  31     G        G2            8309.615385                    26
  32     G        G3           22408.333333                     6
  33     G        G4           21664.285714                     7
  34     G        G5           16078.571429                     7

      Total Amount of Loans by Grade
  0                        141239725
  1                         82174350
  2                         82952350
  3                        153261750
  4                        106112600
  5                        100001650
  6                        114824325
  7                         77819050
  8                        146281400
  9                        111009425
  10                       104442875
  11                        91727050
  12                        99841500
  13                        81537850
  14                        79967900
  15                        60923775
  16                        56470000
  17                        51961250
  18                        43692575
  19                        31765550
  20                        19582250
  21                        10107950
  22                        13868300
  23                        12416325
  24                        20530650
  25                         2750575
  26                         1482275
  27                          763075
  28                          403800
  29                          460250
  30                          579050
  31                          216050
  32                          134450
  33                          151650
  34                          112550  ,
  encoding: EncodingWithFacet({
    color: Color({
      shorthand: 'sub_grade'
    }),
    x: X({
      shorthand: 'grade'
    }),
    y: Y({
      shorthand: 'Total Amount of Loans by Grade'
    })
  }),
  height: 400,
  mark: 'bar',
  width: 700
})

In [0]:
bankruptcies = (sub_df
            .groupby(['grade','pub_rec_bankruptcies'])
            .loan_amnt.agg(['mean','sum'])
            .rename(columns={'mean':'Average Loan by Grade', 'count':'Total Loans by Grade', 'sum':'Total Amount of Loans by Grade'})
            .reset_index())

This graphs the total amount of loans originated by borrower bankruptcy and investment grade.
- The majority of loan originations were to individuals with no public bankruptcies.
- There is a significant drop off with each succeeding bankruptcy.
- The second graph (using the average loan amount) shows that when loans were originated for borrowers with multiple bankruptcies, the average amount was similar to the average.

In [390]:
alt.Chart(bankruptcies).mark_bar().encode(
    x='grade',
    y='Total Amount of Loans by Grade',
    color='grade',
    column='pub_rec_bankruptcies'
)

Chart({
  data:    grade  pub_rec_bankruptcies  Average Loan by Grade  \
  0      A                     0           16537.714453
  1      A                     1           13069.017613
  2      A                     2           14001.666667
  3      A                     3           20000.000000
  4      A                     4           15000.000000
  5      B                     0           17140.281532
  6      B                     1           14635.200267
  7      B                     2           14879.310345
  8      B                     3            8000.000000
  9      B                     4           11000.000000
  10     C                     0           16445.531862
  11     C                     1           15684.779900
  12     C                     2           13499.264706
  13     C                     3           12853.571429
  14     C                     4           12000.000000
  15     C                     5           35000.000000
  16     D                     0           15929.909207
  17     D                     1           16016.022444
  18     D                     2           11801.724138
  19     D                     3           18625.000000
  20     D                     6            5000.000000
  21     E                     0           14228.777616
  22     E                     1           14389.483066
  23     E                     2           19600.000000
  24     E                     3           16325.000000
  25     F                     0           16447.213376
  26     F                     1           20457.352941
  27     G                     0           14555.128205
  28     G                     1           11690.000000

      Total Amount of Loans by Grade
  0                        522459475
  1                         43036275
  2                           210025
  3                            20000
  4                            15000
  5                        494668525
  6                         54808825
  7                           431500
  8                            16000
  9                            11000
  10                       400267800
  11                        56653425
  12                          458975
  13                           89975
  14                           12000
  15                           35000
  16                       212297900
  17                        32112125
  18                          342250
  19                           55875
  20                            5000
  21                        68269675
  22                         8072500
  23                           98000
  24                           65300
  25                         5164425
  26                          695550
  27                         1135300
  28                           58450  ,
  encoding: EncodingWithFacet({
    color: Color({
      shorthand: 'grade'
    }),
    column: Column({
      shorthand: 'pub_rec_bankruptcies'
    }),
    x: X({
      shorthand: 'grade'
    }),
    y: Y({
      shorthand: 'Total Amount of Loans by Grade'
    })
  }),
  mark: 'bar'
})

In [387]:
alt.Chart(bankruptcies).mark_bar().encode(
    x='grade',
    y='Average Loan by Grade',
    color='grade',
    column='pub_rec_bankruptcies'
)

Chart({
  data:    grade  pub_rec_bankruptcies  Average Loan by Grade  Total Loans by Grade
  0      A                     0           16537.714453                 31592
  1      A                     1           13069.017613                  3293
  2      A                     2           14001.666667                    15
  3      A                     3           20000.000000                     1
  4      A                     4           15000.000000                     1
  5      B                     0           17140.281532                 28860
  6      B                     1           14635.200267                  3745
  7      B                     2           14879.310345                    29
  8      B                     3            8000.000000                     2
  9      B                     4           11000.000000                     1
  10     C                     0           16445.531862                 24339
  11     C                     1           15684.779900                  3612
  12     C                     2           13499.264706                    34
  13     C                     3           12853.571429                     7
  14     C                     4           12000.000000                     1
  15     C                     5           35000.000000                     1
  16     D                     0           15929.909207                 13327
  17     D                     1           16016.022444                  2005
  18     D                     2           11801.724138                    29
  19     D                     3           18625.000000                     3
  20     D                     6            5000.000000                     1
  21     E                     0           14228.777616                  4798
  22     E                     1           14389.483066                   561
  23     E                     2           19600.000000                     5
  24     E                     3           16325.000000                     4
  25     F                     0           16447.213376                   314
  26     F                     1           20457.352941                    34
  27     G                     0           14555.128205                    78
  28     G                     1           11690.000000                     5,
  encoding: EncodingWithFacet({
    color: Color({
      shorthand: 'grade'
    }),
    column: Column({
      shorthand: 'pub_rec_bankruptcies'
    }),
    x: X({
      shorthand: 'grade'
    }),
    y: Y({
      shorthand: 'Average Loan by Grade'
    })
  }),
  mark: 'bar'
})